* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Opensans, san-serif;
}

.start-page {
  background-image: url(../images/football_767.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000;
  position: relative;
  height: 100vh;
  width: 100vw;
  z-index: -2
}

.start-page::after {
  content: "";
  background-color: #212548;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
  z-index: -1;
}

.header {
  /*padding: 0 20px;*/
}

.start-conteiner, .last-conteiner {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.header-logo {
  display: block;
  height: 36px;
  width: 133px;
  padding-top: 33px;
  padding-bottom: 120px;
  margin: 0 auto;
  fill: #fff;
}

h1  {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: bold; 
  color: #fff;
}

.header-h2 {
  display: block;
  padding-left: 44px;
  padding-top: 29px;
}

.icon {
  fill: #fff;
  width: 20px;
  height: 24px;
}

.mob-apps {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 87px;
}

a {
  text-decoration: none;
  color: #fff;
  display: block;
  background-color: #5e42b0;
  border-radius: 17px;
}

a:first-child {
  margin-bottom: 14px;
}

.nav-conteiner {
  align-items: center;
  height: 35px;
  display: flex;
  width: 113px;
  margin-left: auto;
  margin-right: auto;
}

.download-app {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 9px;
}

.nav-label {
  color: #fff;
  font-size: 8px;
  font-weight: bold;
  text-transform: uppercase;
}

.main-pluses {
  display: flex;
  flex-wrap: wrap;
}

.athlets, .players {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.main-pad {
  padding-left: 23px;
  padding-right: 23px;
}

h2 {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: bold;
  color: #e7e7e7;
  margin-bottom: 245px;
  line-height: 60px;
  padding-left: 23px; 
  padding-right: 23px;
}

.footballer {
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 30%;
  /*max-width: 100%;*/
  /*transform: translate(-50%, -50%);*/
}

.athe-header, .players-header {
  position: relative;
  width: 100%
}

p {
  font-weight: normal;
  font-size: 15px;
  color: #000;
  line-height: 18px;
  padding-top: 27px;
  padding-bottom: 55px;
/*  padding-left: 23px; 
  padding-right: 23px;*/
}
/*
.athe-p:nth-child(3n) {
  color: #fff;
}

.play-p:nth-child(3) {
  color: #fff;
}
*/
/*list-header {
  padding-top: 83px;
  padding-left: 23px; 
  padding-right: 23px;
}
*/
.athe-list-item, .play-list-item {
  background-color: #fafafa;
  width: 100%;
  padding-top: 60px;
    padding-left: 23px; 
  padding-right: 23px;
}

.athe-list-item:nth-child(2n), .play-list-item:nth-child(2n) {
  background-color: #f5f4f9;
}

.athe-list-item:nth-child(3n) {
  background-color: #5e42b0;
}

.play-list-item:nth-child(3) {
  background-color: #090c35;
}


h3 {
  font-size: 23px;
  font-weight: bold;
  text-transform: uppercase;
  color: #c1c1c1;
  line-height: 34.5px;
}

.list-header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.count-h {
  color: #000;
  margin-right: 10px;
  padding-top: 8px;
  font-size: 14px;
  font-weight: bold;
  line-height: 13px;
}

.count-h::after {
  content: "";
  display: block;
  background-color: #5e42b0;
  height: 4px;
  margin-top: 3px;
  }

.count-h:nth-child(2)::after {
  background-color: #000;
}

.count-hw:nth-child(2) {
  color: #fff;
}

.count-line {
  color: #000;
  margin-right: 10px;
  padding-top: 8px;
  font-size: 14px;
  font-weight: bold;
  line-height: 13px;
}

.count-line::after {
  content: "";
  display: block;
  background-color: #fff;
  height: 4px;
  margin-top: 3px;
}

.basket {
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 2%;
}

.article-img {
  max-width: 100%;
  max-height: 100%;
}

.article-content {
  position: relative;
}

.count-block {
  position: absolute;
  top: -50%;
  left: 10%;
  margin-bottom: 5px;
}
.count-block:nth-child(3) {
  top: 10%;
}
  
.count-ah {
  display: flex;
  width: 70px;
  height: 78px;
  background-color: #5e42b0;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-right: 10px;
  font-size: 14px;
  font-weight: bold;
}

.article-content {
 margin-left: 20px;
 margin-right: 20px;
}

.last-block {
  background-image: url(../images/game_767.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000;
  position: relative;
  height: 100vh;
  width: 100vw;
  z-index: -2
}

.last-block::after {
  content: "";
  background-color: #202346;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
  z-index: -1;
}

.last-logo {
  display: block;
  height: 46px;
  width: 57px;
  padding-top: 33px;
  margin-bottom: 59px;
  padding: 13px 6px;
  margin-left: auto;
  margin-right: auto;
  fill: #fff;
  background: radial-gradient(40% 50%, #5e42b1, #7554d5);
  border-radius: 15%;
  /*background-color: #7050cc;*/
}

.dl-conteiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dl-title {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.dl-descripton {
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  color: #9b8ec1;
  margin-bottom: 50px;
}
