@media (min-width: 768px) and (max-width: 1919px) {
	.header-logo {
  display: block;
  height: 36px;
  width: 133px;
  padding-top: 33px;
  padding-bottom: 120px;
  margin: 0 auto;
  fill: #fff;
}





























}