@media (min-width: 768px) and (max-width: 1919px) {

.start-page {
  background-image: url(../images/football_1280.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000;
  position: relative;
  z-index: -2
}

.start-page::after {
  content: "";
  background-color: #212449;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
  z-index: -1;
}

.start-conteiner {
  padding-left: 33px;
  padding-right: 33px;
}

.header-logo {
  display: block;
  height: 56px;
  width: 133px;
  padding-top: 33px;
  padding-bottom: 69px;
  margin: 0 auto;
  fill: #fff;
}

h1  {
  font-size: 64px;
  text-transform: uppercase;
  font-weight: bold; 
  color: #fff;
  margin-left: 58px;
}

.header-h2 {
  display: block;
  padding-left: 108px;
  padding-top: 32px;
}

.icon {
  fill: #fff;
  width: 41px;
  height: 44px;
}

.mob-apps {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: #fff;
  background-color: #5e42b0;
  border-radius: 17px;
}

a:first-child {
  margin-right: 30px;
}

.nav-conteiner {
  /*align-items: center;*/
  height: 77px;
  display: flex;
  width: 311px;
  flex-grow: 0;
}

.download-app {
  display: flex;
  flex-direction: column;
  margin-left: 9px;
}

.nav-label {
  color: #fff;
  font-size: 14px;
  font-weight: 100;
  text-transform: uppercase;
}

.ios-label, .android-label {
  font-weight: bold;
}






















}