@media (min-width: 641px) and (max-width: 960px) {

.start-page {
  background-image: url(../images/football_1280.jpg);
}

.start-conteiner {
  padding-left: 33px;
  padding-right: 33px;
}

.header-logo {
  display: block;
  height: 56px;
  width: 133px;
  padding-top: 33px;
  padding-bottom: 69px;
  margin: 0 auto;
  fill: #fff;
}

h1  {
  font-size: 64px;
  text-transform: uppercase;
  font-weight: bold; 
  color: #fff;
  margin-left: 58px;
}

.header-h2 {
  display: block;
  padding-left: 108px;
  padding-top: 32px;
}
.a-icon {
  height: 77px;
  width: 311px;
  flex-wrap: nowrap;
}

.icon {
  fill: #fff;
  width: 41px;
  height: 44px;
}

.mob-apps {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #fff;
  background-color: #5e42b0;
  border-radius: 40px;
}

a:first-child {
  margin-right: 30px;
}

.nav-conteiner {
width: 100%;
height: 100%;
justify-content: center;

}

.download-app {
  margin-left: 284px;
  margin-left: 28px;
}

.nav-label {
  color: #fff;
  font-size: 14px;
  font-weight: 100;
  text-transform: uppercase;
}

.ios-label, .android-label {
  font-weight: bold;
}




/* Закончили шапку, пошли верстать спортсменов */

h2 {
  font-size: 80px;
  padding-left: 0;
  padding-top: 86px;
  margin-bottom: 20px;
  padding-right: 0;
}

.footballer {
  position: absolute;
  z-index: 1;
/*  top: 30%;
  left: 20%;*/
  left: -150px;
  top: 10%;
}

.athlets, .players {
position: relative;
/*display: flex;*/
/*flex-direction: column;*/
}

.athe-header, .players-header {
  position: static;
  margin-left: 0;
 }

.athe-list-item, .athe-header {
  padding-left: 293px;
  /*padding-right: 33px;*/
  padding-top: 0;
  /*width: 100%;*/
}

p {
  padding-top: 33px;
  font-size: 16px;
  line-height: 32px;
  padding-bottom: 40px;
}

.athe-list-item:first-child, .play-list-item:first-child {
  margin-top: 0px;
}

.athe-list-item, .play-list-item {
  padding-top: 40px;
  background-color: #fff;
}

.basket {
  position: absolute;
  z-index: 1;
  top: 5%;
  right: 0;
/*  display: block;
  margin: 0 auto;*/
}
 
.play-list-item, .players-header {
  padding-right: 309px;
  padding-left: 33px;
  /*width: 100%;*/
}

.play-list-item:nth-child(3) .play-p {
  font-size: 18px;
}

.count-ah {
  width: 116px;
  height: 116px;
  font-size: 24px;

}

.count-ah::after {
 width: 25px;
}

h3 {
}

.article-h {
  padding-bottom: 23px;
  padding-top: 75px;
  font-size: 80px;
  line-height: normal;
}

.article-p {
  font-size: 24px;
  line-height: normal;
}

.article-content, .last-conteiner {
  margin-left: 33px;
  margin-right: 33px;
}

.article-picture {
  display: block;
}

.last-conteiner {
  padding-top: 126px;
  padding-left: 0;
  padding-right: 0;
}

.last-logo {
  width: 130px;
  height: 136px;
  padding: 24px 12px;
}

.dl-conteiner {
  flex-direction: column;
}

.dl-title {
  font-size: 80px;
  text-align: center;
}

.dl-descripton {
  font-size: 36px;
  margin-bottom: 198px;
  text-align: center;
}

.foot {
  margin-top: -29px;
  padding-bottom: 23px;
}

}